name: Sync labels
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: joeyparrish/action-label-syncer@rename-and-import
      # - uses: micnncim/action-label-syncer@v1
        with:
          manifest: labels/labels.yml
          repository: |
            bu-ist/bu-announcements            
            bu-ist/r-prebuilt-admin
            bu-ist/r3-cds
            bu-ist/r3-fitrec
            bu-ist/r3-global-programs
            bu-ist/r3-marcom
            bu-ist/r-graduate-education
            bu-ist/r3-research
            bu-ist/r3-studentwellbeing
            bu-ist/r3-wheelock
            bu-ist/r3-research-companion
            bu-ist/r3-school-of-medicine
            bu-ist/id-github-demo
            bu-ist/bu-banners
            bu-ist/bu-blocks
            bu-ist/bu-filtering
            bu-ist/bu-in-the-media
            bu-ist/bu-landing-pages
            bu-ist/bu-prepress
            bu-ist/bu-program-pages
            bu-ist/bu-responsive-customizations
            bu-ist/bu-stats
            bu-ist/bu-timeline
            bu-ist/responsive-child-starter
            bu-ist/responsive-child-starter-3x
            bu-ist/responsive-foundation
            bu-ist/responsive-framework
            bu-ist/responsive-framework-3x
          token: ${{ secrets.PERSONAL_TOKEN }}
          prune: false
